body {
    font-family: Arial, sans-serif;
    background: radial-gradient(circle , #2f0101, #000000); /* Gradiente com três cores */
    text-align: center;
    padding: 20px;
}


.timeline {
    max-width: 600px;
    margin: auto;
}

h1 {
    color: rgb(168, 168, 168);
}

.memoria {
    background-color: rgb(122, 0, 0);
    padding: 4px;
    margin: 4px 0;
    border-radius: 3px;
    box-shadow: 0 2px 1px rgba(255, 255, 255, 0.1);
}
